---
Language: Cpp
BasedOnStyle: LLVM
InsertNewlineAtEOF: true
AllowShortFunctionsOnASingleLine: Empty
AlignTrailingComments: false
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true
AlignAfterOpenBracket: BlockIndent
